body {
  margin: 0px;
  padding: 0px;
  background-color: #3A7934;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div {
  margin: 0px;
}

.nav-tabs {
  margin: 5px;
  border: 0px;
}

.list-group-item {
  background-color: green;
  color: white;
  border: 2px solid white;
}

.list-group-item:hover {
  background-color: #5DC928;
}

.list-group-item.active {
  background-color: #95E66D;
  border: 2px solid white;
}

/* Inactive tab */
.nav-tabs .nav-link,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
    background-color: green;
    color: white;
}

/* Active tab */
.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:hover,
.nav-tabs .nav-link.active:focus {
    background-color: green;
    color: white;
}

/* Disabled tab */
.nav-tabs .nav-link.disabled > a {
    background-color: lightgray;
    color: darkgray;
}